{
    "swagger": "2.0",
    "info": {
        "contact": {},
        "title": "our.home",
        "version": "1.0.0"
    },
    "host": "api.nash-dom-96.ru",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/v1/jsonrpc/change_password": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": 1,
                                    "type": "number"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "change_password",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "new_password": {
                                            "example": "asd",
                                            "type": "string"
                                        },
                                        "password": {
                                            "example": "$2y$12$b21EUAftdH5K6CJaaCPiGerb0f7kI923VN.y4iQZ3AzxKKHvNEyze",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "change_password",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Password was changed",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "change_password",
                "operationId": "changePassword",
                "summary": "change_password"
            }
        },
        "/v1/jsonrpc/create_claim": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_claim",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "category_id": {
                                            "example": 3,
                                            "type": "number"
                                        },
                                        "client_id": {
                                            "example": 1,
                                            "type": "number"
                                        },
                                        "files": {
                                            "example": [
                                                {
                                                    "file": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD...",
                                                    "original_file_name": "photo.jpg"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "file": {
                                                        "example": "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD...",
                                                        "type": "string"
                                                    },
                                                    "original_file_name": {
                                                        "example": "photo.jpg",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "priority": {
                                            "example": "high",
                                            "type": "string"
                                        },
                                        "status": {
                                            "example": "pending",
                                            "type": "string"
                                        },
                                        "text": {
                                            "example": "В квартире холодно, батареи не греют.",
                                            "type": "string"
                                        },
                                        "title": {
                                            "example": "Проблема с отоплением",
                                            "type": "string"
                                        },
                                        "type": {
                                            "example": "base",
                                            "type": "string"
                                        },
                                        "worker": {
                                            "properties": {
                                                "id": {
                                                    "example": 2,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "create_claim",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "claim": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": 1,
                                                            "type": "number"
                                                        },
                                                        "client_id": {
                                                            "example": 1,
                                                            "type": "number"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-31T11:37:27.000000Z",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 7,
                                                            "type": "number"
                                                        },
                                                        "is_active": {
                                                            "example": true,
                                                            "type": "boolean"
                                                        },
                                                        "priority": {
                                                            "example": "high",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "example": "pending",
                                                            "type": "string"
                                                        },
                                                        "text": {
                                                            "example": "В квартире холодно, батареи не греют.",
                                                            "type": "string"
                                                        },
                                                        "title": {
                                                            "example": "Проблема с отоплением",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "base",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-31T11:37:27.000000Z",
                                                            "type": "string"
                                                        },
                                                        "worker_id": {
                                                            "example": 2,
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Заявка успешно создана",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "Claims"
                ],
                "description": "create_claim",
                "operationId": "createClaim",
                "summary": "create_claim"
            }
        },
        "/v1/jsonrpc/create_paid_claim": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_claim",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "files": {
                                            "example": [
                                                {
                                                    "file": "some base64 encoded string",
                                                    "original_file_name": "fileName1.jpg"
                                                },
                                                {
                                                    "file": "some base64 encoded string",
                                                    "original_file_name": "fileName2.jpg"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "file": {
                                                        "example": "some base64 encoded string",
                                                        "type": "string"
                                                    },
                                                    "original_file_name": {
                                                        "example": "fileName1.jpg",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "example": "1",
                                            "type": "string"
                                        },
                                        "message": {
                                            "example": "pamagity",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "create_paid_claim",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_service": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": null,
                                                            "x-nullable": true
                                                        },
                                                        "comment": {
                                                            "example": "pamagity",
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-16T17:22:07.000000Z",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 3,
                                                            "type": "number"
                                                        },
                                                        "paid_service_id": {
                                                            "example": "1",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "paid",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-16T17:22:07.000000Z",
                                                            "type": "string"
                                                        },
                                                        "user_id": {
                                                            "example": 1371,
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Paid service claim was created successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "create_paid_claim",
                "operationId": "createPaidClaim",
                "summary": "create_paid_claim"
            }
        },
        "/v1/jsonrpc/create_paid_service": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_service",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "category_id": {
                                            "example": "1",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "test dssdsdsesc",
                                            "type": "string"
                                        },
                                        "name": {
                                            "example": "test",
                                            "type": "string"
                                        },
                                        "price": {
                                            "example": "101",
                                            "type": "string"
                                        },
                                        "price_type": {
                                            "example": "fixed",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "create_paid_service",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_service": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": "1",
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-16T17:16:16.000000Z",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "example": "test dssdsdsesc",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 3,
                                                            "type": "number"
                                                        },
                                                        "name": {
                                                            "example": "test",
                                                            "type": "string"
                                                        },
                                                        "price": {
                                                            "example": "101.00",
                                                            "type": "string"
                                                        },
                                                        "price_type": {
                                                            "example": "fixed",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-16T17:16:16.000000Z",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Paid service was created successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "create_paid_service",
                "operationId": "createPaidService",
                "summary": "create_paid_service"
            }
        },
        "/v1/jsonrpc/create_paid_service_category": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "2",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_service_category",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "image": {
                                            "example": "some base64 encoded file string",
                                            "type": "string"
                                        },
                                        "name": {
                                            "example": "asd",
                                            "type": "string"
                                        },
                                        "original_file_name": {
                                            "example": "some_file_name_with_filetype.jpg",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "create_paid_service_category",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "2",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_category_id": {
                                                    "example": 18,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Paid service category was created successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "create_paid_service_category",
                "operationId": "createPaidServiceCategory",
                "summary": "create_paid_service_category"
            }
        },
        "/v1/jsonrpc/create_worker": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_worker",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "category_id": {
                                            "example": 1,
                                            "type": "number"
                                        },
                                        "name": {
                                            "example": "Иван Тестиванов",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "create_worker",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "worker": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": 1,
                                                            "type": "number"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-31T09:51:49.000000Z",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 5,
                                                            "type": "number"
                                                        },
                                                        "name": {
                                                            "example": "Иван Тестиванов",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "example": "active",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-31T09:51:49.000000Z",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Worker created successfully.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "Workers"
                ],
                "description": "create_worker",
                "operationId": "createWorker",
                "summary": "create_worker"
            }
        },
        "/v1/jsonrpc/create_worker_category": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_worker_category",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "name": {
                                            "example": "Электрик",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "create_worker_category",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "category": {
                                                    "properties": {
                                                        "created_at": {
                                                            "example": "2024-10-31T09:57:02.000000Z",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 3,
                                                            "type": "number"
                                                        },
                                                        "name": {
                                                            "example": "Электрик",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-31T09:57:02.000000Z",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Worker category created successfully.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "Workers"
                ],
                "description": "create_worker_category",
                "operationId": "createWorkerCategory",
                "summary": "create_worker_category"
            }
        },
        "/v1/jsonrpc/delete_paid_service": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "delete_paid_service",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "id": {
                                            "example": "9",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "delete_paid_service",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [],
                                            "items": {},
                                            "type": "array"
                                        },
                                        "message": {
                                            "example": "Paid service with ID 9 was deleted successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "delete_paid_service",
                "operationId": "deletePaidService",
                "summary": "delete_paid_service"
            }
        },
        "/v1/jsonrpc/edit_worker": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "edit_worker",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "category_id": {
                                            "example": 2,
                                            "type": "number"
                                        },
                                        "id": {
                                            "example": 2,
                                            "type": "number"
                                        },
                                        "name": {
                                            "example": "Иван Петров",
                                            "type": "string"
                                        },
                                        "status": {
                                            "example": "disabled",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "edit_worker",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "worker": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": 2,
                                                            "type": "number"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-28T16:14:09.000000Z",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 2,
                                                            "type": "number"
                                                        },
                                                        "name": {
                                                            "example": "Иван Петров",
                                                            "type": "string"
                                                        },
                                                        "status": {
                                                            "example": "disabled",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-31T09:55:04.000000Z",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Worker updated successfully.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "Workers"
                ],
                "description": "edit_worker",
                "operationId": "editWorker",
                "summary": "edit_worker"
            }
        },
        "/v1/jsonrpc/get_all_streets": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_all_streets",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_all_streets",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                "Береговая ул",
                                                "Бульвар Юности ул",
                                                "Вайнера ул",
                                                "Ватутина ул",
                                                "Емлина ул",
                                                "Космонавтов пр-кт",
                                                "Ленина ул",
                                                "Папанинцев ул",
                                                "Сакко и Ванцетти ул",
                                                "Советская ул",
                                                "Строителей ул",
                                                "Трубников ул",
                                                "Чкалова ул",
                                                "Школьная ул"
                                            ],
                                            "items": {
                                                "example": "Береговая ул",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "pagination": {
                                            "properties": {
                                                "limit": {
                                                    "example": 15,
                                                    "type": "number"
                                                },
                                                "offset": {
                                                    "example": 0,
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "example": 14,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "CounterData"
                ],
                "description": "get_all_streets",
                "operationId": "getAllStreets",
                "summary": "get_all_streets"
            }
        },
        "/v1/jsonrpc/get_apartment_data_by_id": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_apartment_data_by_id",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "id": {
                                            "example": "9",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_apartment_data_by_id",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "clients": {
                                                    "example": [
                                                        {
                                                            "accounts": [
                                                                {
                                                                    "id": 1,
                                                                    "number": "UKNDxxxxx"
                                                                },
                                                                {
                                                                    "id": 2,
                                                                    "number": "UKNDxxxxxx"
                                                                }
                                                            ],
                                                            "id": 2,
                                                            "user_id": 2
                                                        },
                                                        {
                                                            "accounts": [
                                                                {
                                                                    "id": 3,
                                                                    "number": "UKNDxxx"
                                                                }
                                                            ],
                                                            "id": 3,
                                                            "user_id": 3
                                                        }
                                                    ],
                                                    "items": {
                                                        "properties": {
                                                            "accounts": {
                                                                "example": [
                                                                    {
                                                                        "id": 1,
                                                                        "number": "UKNDxxxxx"
                                                                    },
                                                                    {
                                                                        "id": 2,
                                                                        "number": "UKNDxxxxxx"
                                                                    }
                                                                ],
                                                                "items": {
                                                                    "properties": {
                                                                        "id": {
                                                                            "example": 1,
                                                                            "type": "number"
                                                                        },
                                                                        "number": {
                                                                            "example": "UKNDxxxxx",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "id": {
                                                                "example": 2,
                                                                "type": "number"
                                                            },
                                                            "user_id": {
                                                                "example": 2,
                                                                "type": "number"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "house": {
                                                    "properties": {
                                                        "building": {
                                                            "example": null,
                                                            "x-nullable": true
                                                        },
                                                        "city": {
                                                            "example": "Первоуральск г",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 1,
                                                            "type": "number"
                                                        },
                                                        "number": {
                                                            "example": "10",
                                                            "type": "string"
                                                        },
                                                        "street": {
                                                            "example": "Сакко и Ванцетти ул",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "id": {
                                                    "example": 1,
                                                    "type": "number"
                                                },
                                                "number": {
                                                    "example": "Кв. xxx",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "get_apartment_data_by_id",
                "operationId": "getApartmentDataById",
                "summary": "get_apartment_data_by_id"
            }
        },
        "/v1/jsonrpc/get_apartments_with_counters": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_apartments_with_counters",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "house_id": {
                                            "example": "1",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_apartments_with_counters",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                {
                                                    "counters": [
                                                        {
                                                            "apartment_id": 10,
                                                            "confirmed_history": null,
                                                            "counter_id": 392,
                                                            "counter_number": "XXXXXXXXXX",
                                                            "counter_type": "Горячее водоснабжение",
                                                            "personal_number": 10,
                                                            "unconfirmed_history": null,
                                                            "verification_to": "2025-07-06 00:00:00"
                                                        },
                                                        {
                                                            "apartment_id": 10,
                                                            "confirmed_history": null,
                                                            "counter_id": 395,
                                                            "counter_number": "XXXXXXXXXX",
                                                            "counter_type": "Холодное водоснабжение",
                                                            "personal_number": 10,
                                                            "unconfirmed_history": null,
                                                            "verification_to": "2027-07-06 00:00:00"
                                                        }
                                                    ],
                                                    "id": 10,
                                                    "number": "Кв. 11"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "counters": {
                                                        "example": [
                                                            {
                                                                "apartment_id": 10,
                                                                "confirmed_history": null,
                                                                "counter_id": 392,
                                                                "counter_number": "XXXXXXXXXX",
                                                                "counter_type": "Горячее водоснабжение",
                                                                "personal_number": 10,
                                                                "unconfirmed_history": null,
                                                                "verification_to": "2025-07-06 00:00:00"
                                                            },
                                                            {
                                                                "apartment_id": 10,
                                                                "confirmed_history": null,
                                                                "counter_id": 395,
                                                                "counter_number": "XXXXXXXXXX",
                                                                "counter_type": "Холодное водоснабжение",
                                                                "personal_number": 10,
                                                                "unconfirmed_history": null,
                                                                "verification_to": "2027-07-06 00:00:00"
                                                            }
                                                        ],
                                                        "items": {
                                                            "properties": {
                                                                "apartment_id": {
                                                                    "example": 10,
                                                                    "type": "number"
                                                                },
                                                                "confirmed_history": {
                                                                    "example": null,
                                                                    "x-nullable": true
                                                                },
                                                                "counter_id": {
                                                                    "example": 392,
                                                                    "type": "number"
                                                                },
                                                                "counter_number": {
                                                                    "example": "XXXXXXXXXX",
                                                                    "type": "string"
                                                                },
                                                                "counter_type": {
                                                                    "example": "Горячее водоснабжение",
                                                                    "type": "string"
                                                                },
                                                                "personal_number": {
                                                                    "example": 10,
                                                                    "type": "number"
                                                                },
                                                                "unconfirmed_history": {
                                                                    "example": null,
                                                                    "x-nullable": true
                                                                },
                                                                "verification_to": {
                                                                    "example": "2025-07-06 00:00:00",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "id": {
                                                        "example": 10,
                                                        "type": "number"
                                                    },
                                                    "number": {
                                                        "example": "Кв. 11",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "pagination": {
                                            "properties": {
                                                "limit": {
                                                    "example": 15,
                                                    "type": "number"
                                                },
                                                "offset": {
                                                    "example": 0,
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "example": 35,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "CounterData"
                ],
                "description": "get_apartments_with_counters",
                "operationId": "getApartmentsWithCounters",
                "summary": "get_apartments_with_counters"
            }
        },
        "/v1/jsonrpc/get_claim_categories": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_claim_categories",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_claim_categories",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                {
                                                    "created_at": "2024-10-29T13:27:10.000000Z",
                                                    "id": 1,
                                                    "name": "Тест",
                                                    "updated_at": "2024-10-29T13:27:10.000000Z"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "created_at": {
                                                        "example": "2024-10-29T13:27:10.000000Z",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "example": 1,
                                                        "type": "number"
                                                    },
                                                    "name": {
                                                        "example": "Тест",
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "example": "2024-10-29T13:27:10.000000Z",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "Claims"
                ],
                "description": "get_claim_categories",
                "operationId": "getClaimCategories",
                "summary": "get_claim_categories"
            }
        },
        "/v1/jsonrpc/get_claim_chat_messages": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_claim_chat_messages",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "claim_id": {
                                            "example": 6,
                                            "type": "number"
                                        },
                                        "limit": {
                                            "example": 2,
                                            "type": "number"
                                        },
                                        "offset": {
                                            "example": 16,
                                            "type": "number"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_claim_chat_messages",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                {
                                                    "claim_id": 6,
                                                    "created_at": "2024-10-31T10:57:33.000000Z",
                                                    "files": [
                                                        {
                                                            "created_at": "2024-10-31T10:57:34.000000Z",
                                                            "encoded_name": "855f8abd6e2382526fc60dac064d1a3f.test",
                                                            "id": 3,
                                                            "mime_type": "0",
                                                            "original_name": "file_test",
                                                            "path": "/storage/claims_chat/6/855f8abd6e2382526fc60dac064d1a3f.test",
                                                            "size": 24,
                                                            "updated_at": "2024-10-31T10:57:34.000000Z"
                                                        }
                                                    ],
                                                    "id": 17,
[...]
