{
    "swagger": "2.0",
    "info": {
        "contact": {},
        "title": "our.home",
        "version": "1.0.0"
    },
    "host": "api.nash-dom-96.ru",
    "basePath": "/",
    "schemes": [
        "https"
    ],
    "paths": {
        "/v1/jsonrpc/change_password": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": 1,
                                    "type": "number"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "change_password",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "new_password": {
                                            "example": "asd",
                                            "type": "string"
                                        },
                                        "password": {
                                            "example": "$2y$12$b21EUAftdH5K6CJaaCPiGerb0f7kI923VN.y4iQZ3AzxKKHvNEyze",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "change_password",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {},
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Password was changed",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "change_password",
                "operationId": "changePassword",
                "summary": "change_password"
            }
        },
        "/v1/jsonrpc/create_paid_claim": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_claim",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "files": {
                                            "example": [
                                                {
                                                    "file": "some base64 encoded string",
                                                    "original_file_name": "fileName1.jpg"
                                                },
                                                {
                                                    "file": "some base64 encoded string",
                                                    "original_file_name": "fileName2.jpg"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "file": {
                                                        "example": "some base64 encoded string",
                                                        "type": "string"
                                                    },
                                                    "original_file_name": {
                                                        "example": "fileName1.jpg",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "id": {
                                            "example": "1",
                                            "type": "string"
                                        },
                                        "message": {
                                            "example": "pamagity",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "create_paid_claim",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_service": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": null,
                                                            "x-nullable": true
                                                        },
                                                        "comment": {
                                                            "example": "pamagity",
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-16T17:22:07.000000Z",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 3,
                                                            "type": "number"
                                                        },
                                                        "paid_service_id": {
                                                            "example": "1",
                                                            "type": "string"
                                                        },
                                                        "type": {
                                                            "example": "paid",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-16T17:22:07.000000Z",
                                                            "type": "string"
                                                        },
                                                        "user_id": {
                                                            "example": 1371,
                                                            "type": "number"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Paid service claim was created successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "create_paid_claim",
                "operationId": "createPaidClaim",
                "summary": "create_paid_claim"
            }
        },
        "/v1/jsonrpc/create_paid_service": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_service",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "category_id": {
                                            "example": "1",
                                            "type": "string"
                                        },
                                        "description": {
                                            "example": "test dssdsdsesc",
                                            "type": "string"
                                        },
                                        "name": {
                                            "example": "test",
                                            "type": "string"
                                        },
                                        "price": {
                                            "example": "101",
                                            "type": "string"
                                        },
                                        "price_type": {
                                            "example": "fixed",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "create_paid_service",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_service": {
                                                    "properties": {
                                                        "category_id": {
                                                            "example": "1",
                                                            "type": "string"
                                                        },
                                                        "created_at": {
                                                            "example": "2024-10-16T17:16:16.000000Z",
                                                            "type": "string"
                                                        },
                                                        "description": {
                                                            "example": "test dssdsdsesc",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "example": 3,
                                                            "type": "number"
                                                        },
                                                        "name": {
                                                            "example": "test",
                                                            "type": "string"
                                                        },
                                                        "price": {
                                                            "example": "101.00",
                                                            "type": "string"
                                                        },
                                                        "price_type": {
                                                            "example": "fixed",
                                                            "type": "string"
                                                        },
                                                        "updated_at": {
                                                            "example": "2024-10-16T17:16:16.000000Z",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Paid service was created successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "create_paid_service",
                "operationId": "createPaidService",
                "summary": "create_paid_service"
            }
        },
        "/v1/jsonrpc/create_paid_service_category": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "2",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_service_category",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "image": {
                                            "example": "some base64 encoded file string",
                                            "type": "string"
                                        },
                                        "name": {
                                            "example": "asd",
                                            "type": "string"
                                        },
                                        "original_file_name": {
                                            "example": "some_file_name_with_filetype.jpg",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "create_paid_service_category",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "2",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_category_id": {
                                                    "example": 18,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "example": "Paid service category was created successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "create_paid_service_category",
                "operationId": "createPaidServiceCategory",
                "summary": "create_paid_service_category"
            }
        },
        "/v1/jsonrpc/get_all_streets": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_all_streets",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "get_all_streets",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                "Береговая ул",
                                                "Бульвар Юности ул",
                                                "Вайнера ул",
                                                "Ватутина ул",
                                                "Емлина ул",
                                                "Космонавтов пр-кт",
                                                "Ленина ул",
                                                "Папанинцев ул",
                                                "Сакко и Ванцетти ул",
                                                "Советская ул",
                                                "Строителей ул",
                                                "Трубников ул",
                                                "Чкалова ул",
                                                "Школьная ул"
                                            ],
                                            "items": {
                                                "example": "Береговая ул",
                                                "type": "string"
                                            },
                                            "type": "array"
                                        },
                                        "pagination": {
                                            "properties": {
                                                "limit": {
                                                    "example": 15,
                                                    "type": "number"
                                                },
                                                "offset": {
                                                    "example": 0,
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "example": 14,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "CounterData"
                ],
                "description": "get_all_streets",
                "operationId": "getAllStreets",
                "summary": "get_all_streets"
            }
        },
        "/v1/jsonrpc/get_apartments_with_counters": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_apartments_with_counters",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "house_id": {
                                            "example": "1",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "get_apartments_with_counters",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                {
                                                    "counters": [
                                                        {
                                                            "apartment_id": 10,
                                                            "confirmed_history": null,
                                                            "counter_id": 392,
                                                            "counter_number": "XXXXXXXXXX",
                                                            "counter_type": "Горячее водоснабжение",
                                                            "personal_number": 10,
                                                            "unconfirmed_history": null,
                                                            "verification_to": "2025-07-06 00:00:00"
                                                        },
                                                        {
                                                            "apartment_id": 10,
                                                            "confirmed_history": null,
                                                            "counter_id": 395,
                                                            "counter_number": "XXXXXXXXXX",
                                                            "counter_type": "Холодное водоснабжение",
                                                            "personal_number": 10,
                                                            "unconfirmed_history": null,
                                                            "verification_to": "2027-07-06 00:00:00"
                                                        }
                                                    ],
                                                    "id": 10,
                                                    "number": "Кв. 11"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "counters": {
                                                        "example": [
                                                            {
                                                                "apartment_id": 10,
                                                                "confirmed_history": null,
                                                                "counter_id": 392,
                                                                "counter_number": "XXXXXXXXXX",
                                                                "counter_type": "Горячее водоснабжение",
                                                                "personal_number": 10,
                                                                "unconfirmed_history": null,
                                                                "verification_to": "2025-07-06 00:00:00"
                                                            },
                                                            {
                                                                "apartment_id": 10,
                                                                "confirmed_history": null,
                                                                "counter_id": 395,
                                                                "counter_number": "XXXXXXXXXX",
                                                                "counter_type": "Холодное водоснабжение",
                                                                "personal_number": 10,
                                                                "unconfirmed_history": null,
                                                                "verification_to": "2027-07-06 00:00:00"
                                                            }
                                                        ],
                                                        "items": {
                                                            "properties": {
                                                                "apartment_id": {
                                                                    "example": 10,
                                                                    "type": "number"
                                                                },
                                                                "confirmed_history": {
                                                                    "example": null,
                                                                    "x-nullable": true
                                                                },
                                                                "counter_id": {
                                                                    "example": 392,
                                                                    "type": "number"
                                                                },
                                                                "counter_number": {
                                                                    "example": "XXXXXXXXXX",
                                                                    "type": "string"
                                                                },
                                                                "counter_type": {
                                                                    "example": "Горячее водоснабжение",
                                                                    "type": "string"
                                                                },
                                                                "personal_number": {
                                                                    "example": 10,
                                                                    "type": "number"
                                                                },
                                                                "unconfirmed_history": {
                                                                    "example": null,
                                                                    "x-nullable": true
                                                                },
                                                                "verification_to": {
                                                                    "example": "2025-07-06 00:00:00",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "id": {
                                                        "example": 10,
                                                        "type": "number"
                                                    },
                                                    "number": {
                                                        "example": "Кв. 11",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "pagination": {
                                            "properties": {
                                                "limit": {
                                                    "example": 15,
                                                    "type": "number"
                                                },
                                                "offset": {
                                                    "example": 0,
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "example": 35,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "CounterData"
                ],
                "description": "get_apartments_with_counters",
                "operationId": "getApartmentsWithCounters",
                "summary": "get_apartments_with_counters"
            }
        },
        "/v1/jsonrpc/get_house_by_street": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_house_by_street",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "street": {
                                            "example": "some_street",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "get_house_by_street",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                {
                                                    "building": null,
                                                    "city": "Первоуральск г",
                                                    "created_at": "2024-10-15T15:53:42.000000Z",
                                                    "id": 48,
                                                    "number": "50",
                                                    "street": "Береговая ул",
                                                    "updated_at": "2024-10-15T15:53:42.000000Z"
                                                },
                                                {
                                                    "building": null,
                                                    "city": "Первоуральск г",
                                                    "created_at": "2024-10-15T15:51:50.000000Z",
                                                    "id": 37,
                                                    "number": "58",
                                                    "street": "Береговая ул",
                                                    "updated_at": "2024-10-15T15:51:50.000000Z"
                                                },
                                                {
                                                    "building": null,
                                                    "city": "Первоуральск г",
                                                    "created_at": "2024-10-15T15:48:35.000000Z",
                                                    "id": 7,
                                                    "number": "76",
                                                    "street": "Береговая ул",
                                                    "updated_at": "2024-10-15T15:48:35.000000Z"
                                                },
                                                {
                                                    "building": null,
                                                    "city": "Первоуральск г",
                                                    "created_at": "2024-10-15T15:48:49.000000Z",
                                                    "id": 8,
                                                    "number": "80",
                                                    "street": "Береговая ул",
                                                    "updated_at": "2024-10-15T15:48:49.000000Z"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "building": {
                                                        "example": null,
                                                        "x-nullable": true
                                                    },
                                                    "city": {
                                                        "example": "Первоуральск г",
                                                        "type": "string"
                                                    },
                                                    "created_at": {
                                                        "example": "2024-10-15T15:53:42.000000Z",
                                                        "type": "string"
                                                    },
                                                    "id": {
                                                        "example": 48,
                                                        "type": "number"
                                                    },
                                                    "number": {
                                                        "example": "50",
                                                        "type": "string"
                                                    },
                                                    "street": {
                                                        "example": "Береговая ул",
                                                        "type": "string"
                                                    },
                                                    "updated_at": {
                                                        "example": "2024-10-15T15:53:42.000000Z",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "pagination": {
                                            "properties": {
                                                "limit": {
                                                    "example": 15,
                                                    "type": "number"
                                                },
                                                "offset": {
                                                    "example": 0,
                                                    "type": "number"
                                                },
                                                "total": {
                                                    "example": 4,
                                                    "type": "number"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "CounterData"
                ],
                "description": "get_house_by_street",
                "operationId": "getHouseByStreet",
                "summary": "get_house_by_street"
            }
        },
        "/v1/jsonrpc/get_paid_service_category": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "2",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_paid_service_category",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "get_paid_service_category",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [
                                                {
                                                    "file": {
                                                        "id": 1,
                                                        "original_name": "fileName.jpg",
                                                        "path": "/storage/paid_services/5f105e2204e418812ff70071db741675.jpg"
                                                    },
                                                    "id": 1,
                                                    "name": "Test category 1"
                                                },
                                                {
                                                    "file": null,
                                                    "id": 2,
                                                    "name": "Test Categorry withou files"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "file": {
                                                        "properties": {
                                                            "id": {
                                                                "example": 1,
                                                                "type": "number"
                                                            },
                                                            "original_name": {
                                                                "example": "fileName.jpg",
                                                                "type": "string"
                                                            },
                                                            "path": {
                                                                "example": "/storage/paid_services/5f105e2204e418812ff70071db741675.jpg",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object",
                                                        "x-nullable": true
                                                    },
                                                    "id": {
                                                        "example": 1,
                                                        "type": "number"
                                                    },
                                                    "name": {
                                                        "example": "Test category 1",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "message": {
                                            "example": "Paid service categories retrieved successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "get_paid_service_category",
                "operationId": "getPaidServiceCategory",
                "summary": "get_paid_service_category"
            }
        },
        "/v1/jsonrpc/get_paid_services": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "create_paid_claim",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "get_paid_services",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "paid_services": {
                                                    "example": [
                                                        {
                                                            "category": {
                                                                "file": {
                                                                    "original_name": "fileName.jpg",
                                                                    "path": "/storage/paid_services/5f105e2204e418812ff70071db741675.jpg"
                                                                },
                                                                "id": 1,
                                                                "name": "asd"
                                                            },
                                                            "category_id": 1,
                                                            "created_at": "2024-10-11T17:24:58.000000Z",
                                                            "description": "test1",
                                                            "id": 1,
                                                            "name": "test1",
                                                            "price": "104.00",
                                                            "price_type": "fixed",
                                                            "updated_at": "2024-10-11T17:24:58.000000Z"
                                                        },
                                                        {
                                                            "category": {
                                                                "file": {
                                                                    "original_name": "fileName2.jpg",
                                                                    "path": "/storage/paid_services/5f105e2204e418812ff70071db741675.jpg"
                                                                },
                                                                "id": 1,
                                                                "name": "asd"
                                                            },
                                                            "category_id": 1,
                                                            "created_at": "2024-10-16T09:24:03.000000Z",
                                                            "description": "test2",
                                                            "id": 2,
                                                            "name": "test2",
                                                            "price": "102.00",
                                                            "price_type": "fixed",
                                                            "updated_at": "2024-10-16T09:24:03.000000Z"
                                                        },
                                                        {
                                                            "category": {
                                                                "file": {
                                                                    "original_name": "fileName3.jpg",
                                                                    "path": "/storage/paid_services/5f105e2204e418812ff70071db741675.jpg"
                                                                },
                                                                "id": 1,
                                                                "name": "asd"
                                                            },
                                                            "category_id": 1,
                                                            "created_at": "2024-10-16T17:16:16.000000Z",
                                                            "description": "test 3",
                                                            "id": 3,
                                                            "name": "test3",
                                                            "price": "101.00",
                                                            "price_type": "fixed",
                                                            "updated_at": "2024-10-16T17:16:16.000000Z"
                                                        }
                                                    ],
                                                    "items": {
                                                        "properties": {
                                                            "category": {
                                                                "properties": {
                                                                    "file": {
                                                                        "properties": {
                                                                            "original_name": {
                                                                                "example": "fileName.jpg",
                                                                                "type": "string"
                                                                            },
                                                                            "path": {
                                                                                "example": "/storage/paid_services/5f105e2204e418812ff70071db741675.jpg",
                                                                                "type": "string"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "id": {
                                                                        "example": 1,
                                                                        "type": "number"
                                                                    },
                                                                    "name": {
                                                                        "example": "asd",
                                                                        "type": "string"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "category_id": {
                                                                "example": 1,
                                                                "type": "number"
                                                            },
                                                            "created_at": {
                                                                "example": "2024-10-11T17:24:58.000000Z",
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "example": "test1",
                                                                "type": "string"
                                                            },
                                                            "id": {
                                                                "example": 1,
                                                                "type": "number"
                                                            },
                                                            "name": {
                                                                "example": "test1",
                                                                "type": "string"
                                                            },
                                                            "price": {
                                                                "example": "104.00",
                                                                "type": "string"
                                                            },
                                                            "price_type": {
                                                                "example": "fixed",
                                                                "type": "string"
                                                            },
                                                            "updated_at": {
                                                                "example": "2024-10-11T17:24:58.000000Z",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "PaidClaim"
                ],
                "description": "get_paid_services",
                "operationId": "getPaidServices",
                "summary": "get_paid_services"
            }
        },
        "/v1/jsonrpc/get_user_data": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "get_user_data",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "get_user_data",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "apartments": {
                                                    "example": [
                                                        577
                                                    ],
                                                    "items": {
                                                        "example": 577,
                                                        "type": "number"
                                                    },
                                                    "type": "array"
                                                },
                                                "email": {
                                                    "example": "testa3@test.ru",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "example": "Tsarev3",
                                                    "type": "string"
                                                },
                                                "phone": {
                                                    "example": "+7999999292",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "get_user_data",
                "operationId": "getUserData",
                "summary": "get_user_data"
            }
        },
        "/v1/jsonrpc/login": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "login",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "password": {
                                            "example": "$2y$12$pXtpEzcAO1qrqzu14xpt/O1wc3HsU.gLO.H/aN98W7DUifdQtdlj2",
                                            "type": "string"
                                        },
                                        "phone": {
                                            "example": "+7999999298",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "login",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "example": "6|0lLboLLHgaDK1xLI1aysc2xD6FgAapsJtKG5dIlpe42c4fc9",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "login",
                "operationId": "login",
                "summary": "login"
            }
        },
        "/v1/jsonrpc/ping": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "ping",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {},
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "ping",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "example": true,
                                    "type": "boolean"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "ping",
                "operationId": "ping",
                "summary": "ping"
            }
        },
        "/v1/jsonrpc/register": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "register",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "email": {
                                            "example": "testa4@test.ru",
                                            "type": "string"
                                        },
                                        "name": {
                                            "example": "Tsarev4",
                                            "type": "string"
                                        },
                                        "password": {
                                            "example": "qweasdzxc",
                                            "type": "string"
                                        },
                                        "phone": {
                                            "example": "+7999999294",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "register",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "token": {
                                                    "example": "10|92AErYvvL1T9hpNK42LuzXpvL9vVThQC8Fjj74Cdb6ccff26",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "User"
                ],
                "description": "register",
                "operationId": "register",
                "summary": "register"
            }
        },
        "/v1/jsonrpc/send_counters_data": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "method": {
                                    "example": "send_counters_data",
                                    "type": "string"
                                },
                                "params": {
                                    "properties": {
                                        "counters_data": {
                                            "example": [
                                                {
                                                    "counter_id": "1",
                                                    "daily_consumption": "123",
                                                    "night_consumption": "321",
                                                    "peak_consumption": "333"
                                                },
                                                {
                                                    "counter_id": "2",
                                                    "daily_consumption": "33",
                                                    "night_consumption": "100",
                                                    "peak_consumption": "200"
                                                }
                                            ],
                                            "items": {
                                                "properties": {
                                                    "counter_id": {
                                                        "example": "1",
                                                        "type": "string"
                                                    },
                                                    "daily_consumption": {
                                                        "example": "123",
                                                        "type": "string"
                                                    },
                                                    "night_consumption": {
                                                        "example": "321",
                                                        "type": "string"
                                                    },
                                                    "peak_consumption": {
                                                        "example": "333",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "from_crm": {
                                            "example": "true",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": ""
                    },
                    "404": {
                        "description": "send_counters_data",
                        "headers": {
                            "Access-Control-Allow-Origin": {
                                "type": "string"
                            },
                            "Cache-Control": {
                                "type": "string"
                            },
                            "Date": {
                                "type": "string"
                            },
                            "Server": {
                                "type": "string"
                            },
                            "Transfer-Encoding": {
                                "type": "string"
                            },
                            "X-Powered-By": {
                                "type": "string"
                            }
                        },
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
                                    "type": "string"
                                },
                                "jsonrpc": {
                                    "example": "2.0",
                                    "type": "string"
                                },
                                "result": {
                                    "properties": {
                                        "data": {
                                            "example": [],
                                            "items": {},
                                            "type": "array"
                                        },
                                        "message": {
                                            "example": "Counters data was sent successfully",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "tags": [
                    "CounterData"
                ],
                "description": "send_counters_data",
                "operationId": "sendCountersData",
                "summary": "send_counters_data"
            }
        },
        "/v1/jsonrpc/update_paid_service": {
            "post": {
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "body",
                        "schema": {
                            "properties": {
                                "id": {
                                    "example": "1",
[...]
